  .list a,li { 
  list-style-type: none;
  content: "\a0"; /* "\a0" 는 빈 공간*/
  background: rgb(102, 187, 102); /*네모 상제 색*/
  padding: 0px 1%; /*패딩 값*/
  border-radius: 0px; /*상자 네 귀퉁이 둥글림*/
  margin: 0px; /*상자와 상자 옆의 글자와 간격 설정*/
  display: inline-block; /*상자의 모양*/
  width: 110px; /*상자 넓이 설정*/
  text-align: center;
  color: #fff;
  font-weight: bold;
  text-decoration-line: none;
  text-decoration : none;
  font-size: 1em;
  }
  
  .list a:hover { /*리스트 선택시 글자색 진한 초록 설정*/
    color: rgb(12, 99, 12);
  }

  .text h { 
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    }

  .mainbox {
    display: flex;
  }
  
  .leftbox {
    flex: 1;
  }

  .centerbox {
    flex: 1;
  }

  .rightbox {
    flex: 1;
  }